body {
    background-image: url(imagens/lina.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    color: orange;
    display: flex;
    justify-content: center;
}